body {
    background-color: gainsboro;
    text-align: center;
    padding-top: 3px;
}
#logo {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.material-icon {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
#scan_qr {
    width: 80px;
    vertical-align: middle;
}






#view_login {
    display: none;
}