body {
    background-color: gainsboro;
    text-align: center;
}
#select_language {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    z-index: 100;
    display: none;
}
#language_flag {
    border-radius: 10px;
    border: solid 2px white;
}
.lang_show {
        display: none;
}
.rwanda {
    white-space: normal  !important;
    overflow: visible !important;
}
.btn_rwanda {
    color: white;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.btn_rwanda:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); 
}
#view_start {
    background-image: url(../img/kigali_day_3.jpg);
    background-size: cover;
    background-position: center bottom;
}
html, body, #map {
			height: 100%;
            width: 100%;
}
#logo {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.material-icon {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
.arrow_back {
    padding: 5px;
    position: absolute;
    margin-top: -18px;
    margin-left: -18px;
}
.card_form {
    margin-left: 10px;
    margin-right: 10px;
}
.card_form input {
    color: white;
}
#scan_qr {
    width: 80px;
    vertical-align: middle;
}
* {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}


#view_end {

}

#view_login {
    display: none;
    padding-top: 3px;
}
#view_start {
    padding-top: 3px;
}

#view_taxi_journeyrequest {
}
#journeyrequest {
    text-transform: uppercase;
    background-color: white;
    font-size: 16px;
}
#journeyrequest_buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}
#journeyrequest_buttons a {
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}
#journeyrequest_header {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#journey_fare_display {
    display: none;
    background-color: #424242;
    color: white;
    font-size: 18px;
}   
#journey_fare_display_km {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#journey_fare_display_fare {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#journey_fare_display_destination {
    padding: 15px;
}
#journey_route_info {
    display: none;
}
#stopwatch_elapsed_time {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
#end_journey {
    position: absolute;
    bottom: 60px;
    width: 80%;
    position: block;
    left: 10%;
    background-color: green;
    font-size: 15px;
}
#journey_route_map {
    position: absolute;
    background-image: url(../img/splash_day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 210px;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#relocateme {
    background-image: url(../img/crosshairs-gps.svg);
    background-size: 24px 24px;
    background-position: center center;
    height: 34px;
    width: 34px;
    margin-left: 5px;
    background-repeat: no-repeat;
    float: right;
    background-color: #FCD706;
}



#chat_overlay {
    position: fixed;
    display: none;
    background-color: lightgrey;
    height: 45%;
    width: 100%;
    z-index: 20000000;
    bottom: 0px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
}
#chat_overlay_close {
    position: absolute;
    width: 100%;
    height: 32px;
    margin-top: -30px;
    text-align: right;
    padding-top: 4px;
    background-color: black;
}
#chat_message_input {
    border: none;
    outline-width: 0;
    position: fixed;
    bottom: 0px;
    background-color: white;
    height: 40px;
    text-indent: 7px;
    width: 90%;
    left: 0%;
    padding-left: 0%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
#chat_message_send_button {
    position: fixed;
    background-color: #1389AE;
    background-image: url(../img/send.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 80% 80%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 40px;
    width: 10%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.chat_time {
    float: right;
    color: darkgrey;
    font-size: 80%;
    padding-left: 3px;
    padding-bottom: 3px;
    display: none;
}
#chat_new_from_driver, #chat_new_from_client {
    display: none;
}
#chat_load_messages {
    height: 100%;
    overflow: scroll;
}
.chat_message_client {
    text-align: left;
    font-family: sans-serif;
    background-color: white;
    width: 70%;
    float: right;
    padding: 7px;
    padding-left: 35px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-image: url(../img/message-text-outline.svg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    word-break: break-all;
}
.chat_message_driver {
    text-align: left;
    font-family: sans-serif;
    background-color: #FFFF00;
    width: 70%;
    float: left;
    padding: 7px;
    padding-left: 35px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-image: url(../img/taxi.svg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    word-break: break-all;
}
.chat_message_driver .chat_arrow_right {
    display: none;
}
.chat_message_client .chat_arrow_left {
    display: none;
}