<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.twofiftytaxi.partner"
        versionCode = "5" 
        version     = "3.2.0" >

    <name>Partner</name>

    <description>
		250 Taxi Partners
    </description>

    <author href="https://www.250taxi.com" email="info@250taxi.com">
        
    </author>
        
    <platform name="android" />
	
	<icon src="icon.png" />
		
	
		
	<!-- Core plugins -->
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-device-orientation" source="npm" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" />
    <gap:plugin name="cordova-plugin-file" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-media" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
        
    <gap:plugin name="cordova-plugin-brightness" source="npm" />
    
    <gap:plugin name="cordova-plugin-screen-orientation" source="npm" />
        
    <gap:plugin name="cordova-plugin-local-notifications-pgb" source="npm" />   

    <gap:plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" />
        
    <gap:plugin name="cordova-plugin-barcodescanner" source="npm" />
		
	<gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.3" />
		
	<gap:plugin name='org.crosswalk.engine' version='1.3.0' source='pgb' />

    <gap:plugin name="onesignal-cordova-plugin-pgb-compat" source="npm" />
    <gap:plugin name="cordova-plugin-googleplayservices" source="npm" />
    <gap:plugin name="cordova-plugin-android-support-v4" source="npm" />
        
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />

</widget>