<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.twofiftytaxi.partner"
        versionCode = "89" 
        version     = "5.0.0" >

    <name>Partner</name>

    <description>
		250 Taxi Partners
    </description>

    <author href="https://www.250taxi.com" email="info@250taxi.com"></author>
        
    <platform name="android" />
    
    <preference name="android-minSdkVersion" value="14" />
    
    <preference name="android-build-tool" value="gradle" /> 
	
	<icon src="icon.png" />
		
	<preference name="exit-on-suspend" value="false" />
	<preference name="KeepRunning" value="true" />
		
	<!-- Core plugins -->
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-device-orientation" source="npm" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" />
    <gap:plugin name="cordova-plugin-file" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-media" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-vibration" source="npm" />
        
    <gap:plugin name="cordova-plugin-brightness" source="npm" />
    
    <gap:plugin name="cordova-plugin-screen-orientation" source="npm" />

    <gap:plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" />
        
    <gap:plugin name="cordova-plugin-barcodescanner" source="npm" />

    <gap:plugin name="onesignal-cordova-plugin-pgb-compat" source="npm" />
    <gap:plugin name="cordova-plugin-googleplayservices" source="npm" />
    <gap:plugin name="cordova-plugin-android-support-v4" source="npm" />
        
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />

</widget>
